<h1>Any Time is Burger Time!!!</h1>
{{!-- <img aria-label="hamburger" src="/assets/img/5d084bb0c74de107781800.gif"> --}}
{{!-- <img aria-label="hamburger" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/emojione/178/hamburger_1f354.png"/> --}}
<div class="container main col-md-6">
  <div class="form-panel">
    <form class="create-form ">
      <div class="form-group ">
        <label for="burger">Gimme a </label>
        <input type="text" id="burger_name" name="burger_name" placeholder="...create your own Burger...">
        <button class="btn btn-dark" type="submit">&#127828; Add it</button>
      </div>

    </form>
  </div>
  <div class="row">
    <div class="col col-md-4">
      <h2>Ready to Eat</h2>

      <ul>
        <h6>Devour it!</h6>
        {{#each burgers}}
        {{#unless devoured}}
        <li>
          {{> burgers/burger-block}}
          {{burger_name}}
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="colcenter col-md-4"><img class="burgerImg" aria-label="hamburger"
        src="/assets/img/5d084bb0c74de107781800.gif">
    </div>
    <div class="col col-md-4">

      <h2>Devoured</h2>
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <li>
          {{burger_name}}
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>


</div>